body {
    /* COLORS */
    --main-color: #00716b;
    --main-color-light: #17928c;
    --main-color-dark: #0b7774;
    --secondary-color: #ffd200;

    /* light en dark gebruiekn ipv -white */
    --bg-color-white: #fff; 
    --bg-color-container: #f5f5f5;

    --main-color-hover: #00857a;
    --secondary-color-hover: #E8BF2B;

    --text-color-primary: #fff;
    --text-color-secondary: #222;


    /* FONTS */

    --font-family: "Roboto Condensed", "Helvetica Neue", Arial, sans-serif;
    --font-size-small: 1rem;
    --font-size-medium: 2.2rem;
    --font-size-large: 3.5rem;
    --font-weight: 400;
    --line-heigth: 1.5;

    --button-bg: var(--main-color);
    --button-color: var(--text-color-primary);
    --button-padding: 12px 16px;
    --button-width: 192px;

    background-color: var(--bg-color-white);
    font-family: var(--font-family);
    color: var(--text-color-secondary);

    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-white);
    & h1 {
        text-align: center;
        background-color: red;
    }
}

.topnav {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--bg-color-white);
    & img {
        height: 45px;
        margin-left: 2vw;
        object-fit: cover;
    }
}

.topnav-container {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
    margin-bottom: .5vh;
}

.typerekening {
    padding: 10px;
    text-align: left;
    background: none;
    border: none;
    color: var(--text-color-secondary);
}

.login {
    display: flex;
    align-items: center;
    padding: var(--button-padding);
    background-color: var(--secondary-color);
    color: var(--text-color-secondary);
    text-decoration: none;
    &::before {
        content: '';
        width: 20px;
        height: 20px;
        background: url(../assets/lock.png) no-repeat;
        background-size: cover;
        margin-right: 1vw;
    }
}

::-webkit-scrollbar {
    display: none;
  }

.bottomnav {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
}

a {
    color: var(--text-color-primary);
    text-decoration: none;
}

.navitems {
    color: var(--text-color-primary);
    text-decoration: none;
    padding: 1em;
    white-space: nowrap;
    ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
        list-style-type: none;
        margin-top: 5vh;
        margin-left: 5vw;
        padding: 0;
    }
    
}

.bottomnav summary:nth-of-type(1) {
    color: var(--text-color-primary);
    cursor: pointer;
    list-style: none;
    display: flex; /* also removes the list marker */
    align-items: center;
}

summary::after {
    content: '';
    width: 15px;
    height: 15px;
    background: url('../assets/arrows.png') no-repeat;
    background-size: cover;
    margin-left: .75em;
    transition: 0.2s;
}

details[open] > summary::after {
  transform: rotate(180deg);
}

summary::-webkit-details-marker {
  display: none;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: var(--bg-color-container);
}

.container {
    background-color: var(--bg-color-white);
    padding: 1em;
    width: 100%;
    & h1 {
        font-size: var(--font-size-medium);
        color: #005E5D;
        font-weight: 530;
        @media (min-width: 760px) {
            margin-left: 10vw;
            font-size: var(--font-size-large);
        }
    }
    & p {
        font-size: var(--font-size-small);
    }
    .content {
        @media (min-width: 760px) {
            margin-top: 3em;
            justify-self: center;
            width: 50vw;
        }
    }
    @media (min-width: 760px) {
        width: 85vw;
        margin: 4vh 1vw 2vh 1vw;
    }
}

.dialogButtons {
    display: flex;
    flex-direction: row;
    gap: 1em;
}


.showPreference {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 17em;
    background-color: var(--main-color);
    color: var(--text-color-primary);
    font-size: 16px;
    appearance: none;
    border: none;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
    &::after {
        content: '';
        width: 25px;
        height: 25px;
        background: url(../assets/EditPref.png) no-repeat;
        background-size: cover;
        margin-left: 1em;
        transition: 0.2s;
    }
}

.removePreference {
    display: flex;
    align-items: center ;
    justify-content: center;
    height: 3em;
    width: 17em;
    background-color: rgb(255, 0, 0);
    color: var(--text-color-primary);
    font-size: 16px;
    appearance: none;
    border: none;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
    &::after {
        content: '';
        width: 35px;
        height: 25px;
        background: url(../assets/remove.png) no-repeat;
        background-size: cover;
        margin-left: 1em;
        transition: 0.2s;
    }
}

dialog {
    display: none;
    background-color: var(--main-color);
    width: max-content;
    height: max-content;
    position: relative;
    overflow: visible;
    border: none;
    border-radius: 2vh;
    color: var(--text-color-primary);
    &.visible {
        display: flex;
        flex-direction: column;

    }
    & h4 {
        margin: 0em 0em 1em;
    }
    &[open] {
        margin: 2em -2em;
        animation: fadein 0.2s ease-in forwards;
        transform: translateX(-100%);
        left: 100%;
        position: fixed;
    }
}

@keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.lightmode {  
    &:hover img {
        transform: scale(1.1);
    }
    img.isActive  {
        outline: 3px solid var(--secondary-color);
        outline-offset: 3px;  
    }
}

.darkmode {
    &:hover img {
        transform: scale(1.1);
    }
    img.isActive {
        outline: 3px solid var(--secondary-color);
        outline-offset: 3px;  
    }
}

.closeDialog {
    background-color: var(--secondary-color);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 20px;

    position: absolute;
    top: -10px;
    right: -10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    cursor: pointer;
}

.toegankelijksknoppen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 1em;
    & img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%; 
    }
    & button {
        display: inline-flex;
        align-items: center;
        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
    }
}

aside {
    background-color: var(--main-color-light);
    padding: 1em;
    h3 {
        color: var(--text-color-primary);
    }
    p {
        color: var(--text-color-primary);
        width: 95%;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-dark);
    width: 100%;
    padding: 1em 0;
    p {
        display: flex;
        margin: 0;
        align-items: center;
        color: var(--text-color-primary);
        &::after {
            content: '';
            width: 18px;
            height: 10px;
            background: url('https://uploads.sitepoint.com/wp-content/uploads/2023/10/1697699669arrow.svg') no-repeat;
            background-size: cover;
            margin-left: .75em;
            transition: 0.2s;
        }
    }
}